*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target/
tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
gradle-app.setting
.tags*
.gradletasknamecache
gradle-app.setting
.tags1
.tags
.gradle
*.idea
*.iml
dependency-reduced-pom.xml
target/
crafter-install/
live-env/
crafter-auth-env/
!src/.gitkeep
src/
bundles/
docker/build/
crafter-authoring
crafter-delivery
downloads/
!utils/src/main/java/org/craftercms/bundle/utils/
utils/target
.project
.settings/
.vscode/
selftest-env/*
plugins
