*.bak
*.class
*.swp

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target/
tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
gradle-app.setting
.tags*
.gradletasknamecache
gradle-app.setting
.tags1
.tags
.gradle
.gradle.log
*.idea
*.iml
.idea
dependency-reduced-pom.xml
target/
build/
crafter-install/
live-env/
crafter-auth-env/
!src/.gitkeep
src/
bundles/
crafter-authoring
crafter-delivery
downloads/
!utils/src/main/java/org/craftercms/bundle/utils/
utils/target
.project
.settings/
.vscode/
selftest-env/*
plugins

# Docker
docker/images/build/
docker/compose/serverless/s3/delivery/config/engine/server-config.properties
.env
