# Global owners
*		@sumerjabri

# Specific ownership
README.md	@sumerjabri
CONTRIBUTING.md	@sumerjabri
CODE_OF_CONDUCT.md @sumerjabri
CODEOWNERS @sumerjabri
LICENSE @sumerjabri
pom.xml @sumerjabri
.travis.yml	@sumerjabri
.gitignore	@sumerjabri
